<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='client.js'></script>
    <link rel='stylesheet' href='index.css' />
  </head>
  <body>
    <h1>Welcome to main page</h1>
    <form action='post' href='/addbucket'>
      <label>Name</label>
      <input type='text' name='name'>
      <label>Awesomeness</label>
      <input type='text' name='awesomeness'>
      <label>Ccomleted</label>
      <input type='text' name='completed'>
      <input type='submit' value='Add to bucket list'>
    </form>
    <a href='/index.html'>Go home</a>
  </body>
</html>
